#RewriteEngine On
#RewriteCond %{REQUEST_URI} !^index
#RewriteRule (.*) /uploads/$1.jpeg [NC,L]
RewriteEngine On
RewriteCond %{REQUEST_URI} !^index
RewriteCond %{REQUEST_URI} !^uploads
RewriteRule ^sc(.*)$ /uploads/$1.jpg [NC,L]
